.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos globales para alto contraste */
.high-contrast {
  background-color: #000;
  color: #fff;
}

/* Asegúrate de que todos los elementos que necesiten cambiar en modo de alto contraste tengan la clase adecuada o sean hijos de un contenedor con la clase .high-contrast */
.high-contrast button,
.high-contrast a,
.high-contrast p {
  /* Estilos específicos de alto contraste para elementos */
}
