@import './Dashboard.css';

.content-calendar {
  margin-left: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #282c34; /* Dark background */
  color: white;
  padding: 20px;
  margin-top: 50px; /* Adds more space at the top */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.activities-section {
  width: 70%;
  margin-right: 20px; /* Adds space between the sections */
}

.titulo1 {
  justify-content: center;
  margin-top: 50px;
  margin-bottom: -30px;
}

.calendar-section {
  width: 50%;
}

.add-activity, .activities-list {
  background-color: #333; /* Slightly lighter dark background */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.add-activity input, .add-activity textarea {
  margin-left: 25px;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #222; /* Even darker for input fields */
  color: white;
}

.add-activity button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0062cc; /* Blue button */
  color: white;
  cursor: pointer;
}

.add-activity button:hover {
  background-color: #004085;
}

.activities-list .activity {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 15px;
}

.activities-list button {
  margin-right: 20px;
  padding: 5px 10px;
  background-color: #6c757d; /* Gray button */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.activities-list button:hover {
  background-color: #343a40;
}

.calendar-section .react-calendar {
  background-color: #333;
  border: none;
}

.react-calendar__navigation button {
  color: white;
}

.react-calendar__month-view__days__day--weekend {
  color: #f50057; /* Highlight weekends */
}
