.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .navbar {
    width: 98%;
    background-color: #1E2126;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 60px; /* Altura fija del navbar */
  }
  
  .sidebar {
    background-color: #1E2126;
    width: 250px;
    padding-top: 2rem;
    box-sizing: border-box;
    margin-top: 60px; /* Mismo que navbar */
    height: calc(100% - 60px); /* Igual */
    position: fixed;
    overflow-y: auto;
    padding-bottom: 1rem;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 0.5rem;
    margin: 5px 0; /* Entre los elementos del menú */
    transition: background-color 0.3s;
  }

  .menu-item.active {
    background-color: #4E5D6C; /* Resalta */
  }
  
  .menu-icon {
    margin-right: 10px;
  }
  
  .main-content {
    flex-grow: 1;
    margin-left: 250px; 
    margin-top: 50px; 
    padding: 1rem;
    background-color: #16191C; 
  }
  
  .logo-container img {
    height: 60px; 
  }
  
  .user-container {
    /* Botón de usuario */
  }
  
  .account-info-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem; 
    text-decoration: none;
  }
  
  .content {
    padding: 2rem;
    color: white;
    text-align: center;
  }
  
  h1 {
    margin-top: 2rem;
    font-size: 2.5rem;
  }
  
  /* Agregar aquí */
  