@import './Dashboard.css';

.fixed-header, .fixed-footer {
  background-color: #16191C; 
  padding: 1rem;
  z-index: 10;
}

.fixed-header {
  position: sticky;
  top: 60px; 
  left: 0;
  right: 0;
}

.fixed-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0; 
    background-color: #16191C; 
}

/* se quita la barra de navegación */
.scrollable-content {
  /* overflow-y: auto; 
  height: calc(100vh - 120px);  */
  padding-top: 2rem; /* Espacio para el título */
  padding-bottom: 4rem; /* Espacio para el footer y un poco más para no cubrir contenido */
  margin-top: 1rem;
}

.properties-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.property-card {
    width: calc(33.333% - 20px);
    margin: 1px;
    background-color: #292C33;
    border-radius: 8px;
    border: none; 
    overflow: hidden;
    display: block; 
    cursor: pointer;
    padding: 0; 
    text-align: left; 
    color: inherit; 
    background: none; 
}

.property-card:focus {
    outline: none; /* para considerar la accesibilidad */
    box-shadow: 0 0 0 2px #fff; /* Agrega un outline visible para la accesibilidad */
}

.property-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.property-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  font-size: 1rem;
}

.add-new {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    background-color: #292C33; 
    border-radius: 8px;
    width: calc(33.333% - 20px);
    margin: 10px;
    border: none;
    cursor: pointer;
}

.btn {
    width: 500px;
    background-color: #a64cda;
    color: white;
    padding: 15px 30px; 
    font-size: 1.2rem; 
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
  background-color: #667C8A;
}
